{{ define "main" }}
    <div class="container">
        {{ range .Site.Data.apps }}
            {{ $action := .action }}
            <h2 class="section-title">{{ .group }}</h2>
            <div class="app-grid">
                {{ range .apps }}
                    <div class="card">
                        <div class="card-header">
                            <div class="app-icon">
                                <img src="{{ print "images/app-icons/" .icon | relURL }}" alt="{{ .name }} App Icon">
                            </div>
                            <h3>{{ .name }}</h3>
                        </div>
                        <p>{{ .description }}</p>
                        {{ with .url }}
                            <a href="{{ . }}" target="_blank" class="btn-primary">
                                {{ $action }}
                            </a>
                        {{ else }}
                            <a href="javascript:void(0)" class="btn-primary" onclick="openModal('{{ .tag }}')">
                                {{ $action }}
                            </a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </div>

    {{ partial "modal.html" . }}
{{ end }}
