<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.Title }}</title>
    <meta name="description" content="{{ site.Params.siteDescription }}">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ "favicon.png" | relURL }}">
</head>

<body>
<div class="content">
    <header>
        <h1>{{ site.Title }}</h1>
    </header>

    <main>
        <section>
            {{ range sort site.RegularPages "Lastmod" "desc" }}
            <article>
                <h2>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>

                <p>
                    By <strong>{{ site.Params.author.name }}</strong><br>
                    Last updated: {{ .Lastmod.Format "2 Jan 2006" }}
                </p>

                {{ .Summary }}
            </article>
            {{ end }}
        </section>
    </main>

    {{ partial "footer.html" . }}

</div>
</body>
</html>
